.incident-wrap {
  padding: 16px 20px;
}

.incident-wrap h2 {
  font-weight: 700;
  color: #222;
}

.ant-table {
  border-radius: 10px !important;
}

.ant-card {
  border-radius: 12px !important;
}
.incident-wrap {
  padding: 16px 20px;
}

.sum-card {
  text-align: center;
  border-radius: 12px;
}

.sum-card h4 {
  margin-bottom: 4px;
  font-weight: 600;
}
