/* ================== Global styles ================== */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f9f8;
}

/* ===== Layout tổng ===== */
.profile-page-layout {
  display: flex;
  justify-content: center; /* căn giữa toàn bộ sidebar + form */
  align-items: flex-start;
  margin-top: 40px;
  /* align-items: center; căn top */
  gap: 138px; khoảng cách giữa sidebar và form
  padding: 10px 0; /* chỉ có khoảng cách trên dưới thôi */
  background-color: #f5f7f8;
  min-height: 100vh;
  box-sizing: border-box;
}

/* ===== Form chính ===== */
.profile-main-card {
  width: 600px;
  height: 650px;
  background-color: #fff;
  border-radius: 12px;
  padding: px 36px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.profile-main-card h3 {
  font-size: 22px;
  width: max-content;
  font-weight: bold;
  margin-top: 45px;
  margin-left: 50px;
  /* margin: 25px auto 30px; */
}

/* ===== Bên trong form ===== */
.profile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-left: 52px;
  margin-top: 25px;
  height: 500px;
  width: 500px;
}

.profile-form label {
  font-size: 14px;
  color: #333;
  font-weight: 900;
  line-height: 22px;
  
}

.profile-form input {
  padding: 10px 14px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.2s ease;
}

.profile-form input:focus {
  border-color: #0b702e;
  outline: none;
}

/* ===== Nút hành động ===== */
.form-actions {
  margin: 30px auto 0px;
  display: flex;
  justify-content: center;
  gap: 14px;
}

.btn {
  padding: 10px 50px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.25s ease;
}

.btn.save {
  background: #111;
  color: #fff;
  margin-right: 50px;
}

.btn.save:hover {
  background: #222;
}

.btn.cancel {
  background: #c0392b;
  color: #fff;
}

.btn.cancel:hover {
  background: #99231f;
}

/* ===== Thông báo nhỏ ===== */
.msg {
  margin-top: 12px;
  color: #0b702e;
  font-weight: 600;
}
